<div fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
        <input type="text" matInput (keyup)="filter($event)" placeholder="Filter">
    </mat-form-field>
</div>


<mat-table [dataSource]="dataSource.data" matSort>
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="check(element)"> {{element.exercise.date | datePipe: element.exercise.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.exercise.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="calories">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Calories</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.exercise.calories | number}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.exercise.duration | number}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator #paginator
[pageSize]="1"
[pageSizeOptions]="[1,2,3]">

</mat-paginator>