<section class="register-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <mat-form-field>
            <input 
            email
            required
            type="email"
            #emailInput="ngModel"
             matInput placeholder="email" ngModel name="email">
             <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
             <mat-error *ngIf="!emailInput.hasError('required')">Invalid Email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
            required
            minlength="6" 
            #pwInput="ngModel"
            type="password" matInput placeholder="password" ngModel name="password">
            <mat-error *ngIf="pwInput.hasError('minlength')">Password must be 6 characters long </mat-error>
            <mat-error *ngIf="!pwInput.hasError('minlength')">Field must not be empty </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
    </form>
</section>
